<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <h1> SELECT TEST </h1><br>
</head>
<body>
        <div>
                <table>
                        <tr>
                                <td>성공할 확률은?!?</td>
                                <td>{{resultData[0][0]}}</td>
                        </tr>
                        <tr>
                                <td>성공하는 최적의 마일리지는?</td>
                                <td>{{resultData[0][1]}}</td>
                        </tr>
                </table>
        </div>
</body>
</html>
