<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <h1> SELECT TEST </h1><br>
</head>

<body>
        <div>
                course_code: {{resultData[0][1]}}<br>
                hyhg: {{resultData[0][0]}}<br>
                instructor: {{resultData[0][4]}}
                <br><br>
                <table>
                        {% for item in resultData %}
                        <tr>
                                {% for i in item %}
                                {{i}}
                        </tr>
                        {% endfor %}
                </table>
                {% endfor %}
        </div>
</body>
</html>
